Repository cyberrangecz/backend-elasticsearch-documents: changes, and which GitLab CI jobs are due for each by the changed paths.
All: create_tag, build, deploy

create_tag:
  stage: create_tag
  image: nexus.csirt.muni.cz:5000/csirtmu/common-ci
  variables:
    GIT_STRATEGY: clone
  script:
  - source /app/export-tag-vars.sh VERSION.txt
  - /app/import-ssh-key.sh
  - /app/prepare-git.sh
  - /app/set-version-java.sh
  - /app/tag-and-push.sh

build:
  stage: build
  script:
  - mvn clean install $MAVEN_CLI_OPTS -DskipTests -Dproprietary-repo-url=$PROPRIETARY_REPO_URL

deploy:
  stage: deploy
  image: maven:3.6-jdk-11
  script:
  - mvn deploy $MAVEN_CLI_OPTS -s etc/ci_settings.xml

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

1.0.26 Gitlab CI bugfix
  VERSION.txt
Due: create_tag, deploy

[CI/CD] Update pom.xml versions based on GitLab tag.
  pom.xml
Due: build

Resolve "Differentiate total score for game and assessment level"
  src/main/java/cz/muni/csirt/kypo/events/AbstractAuditPOJO.java
  src/main/java/cz/muni/csirt/kypo/events/trainings/TrainingRunResumed.java
Due: none

1.0.27 fix assessment scores
  VERSION.txt
Due: create_tag, deploy

Rename WrongFlagSubmitted and CorrectFlagSubmitted.
  src/main/java/cz/muni/csirt/kypo/events/AbstractAuditPOJO.java
  src/main/java/cz/muni/csirt/kypo/events/trainings/CorrectAnswerSubmitted.java
  src/main/java/cz/muni/csirt/kypo/events/trainings/WrongAnswerSubmitted.java
Due: none

Renaming the game to training.
  src/main/java/cz/muni/csirt/kypo/events/AbstractAuditPOJO.java
  src/main/java/cz/muni/csirt/kypo/events/trainings/enums/LevelType.java
  src/main/resources/template.json
Due: none

Update VERSION.txt
  VERSION.txt
Due: create_tag, deploy

Update the documentation for level attribute
  src/main/java/cz/muni/csirt/kypo/events/AbstractAuditPOJO.java
Due: none

level_order added.
  src/main/java/cz/muni/csirt/kypo/events/AbstractAuditPOJO.java
Due: none

1.0.29 Level order attribute added.
  VERSION.txt
Due: create_tag, deploy

phase order, task id, and task order added.
  src/main/java/cz/muni/csirt/kypo/events/adaptive/trainings/AbstractAuditAdaptivePOJO.java
Due: none

cleanup the taskId and orders definitions.
  src/main/java/cz/muni/csirt/kypo/events/adaptive/trainings/CorrectAnswerSubmitted.java
  src/main/java/cz/muni/csirt/kypo/events/adaptive/trainings/PhaseCompleted.java
  src/main/java/cz/muni/csirt/kypo/events/adaptive/trainings/PhaseStarted.java
  src/main/java/cz/muni/csirt/kypo/events/adaptive/trainings/SolutionDisplayed.java
  src/main/java/cz/muni/csirt/kypo/events/adaptive/trainings/WrongAnswerSubmitted.java
Due: none

1.0.30 task id, order, and phase order added.
  VERSION.txt
Due: create_tag, deploy

Retype taskId to Long and taskOrder to Integer.
  src/main/java/cz/muni/csirt/kypo/events/adaptive/trainings/AbstractAuditAdaptivePOJO.java
Due: none

Created new events when a wrong/correct passkey is submitted.
  pom.xml
  src/main/java/cz/muni/csirt/kypo/events/adaptive/trainings/CorrectPasskeySubmitted.java
  src/main/java/cz/muni/csirt/kypo/events/adaptive/trainings/WrongPasskeySubmitted.java
  src/main/java/cz/muni/csirt/kypo/events/adaptive/trainings/enums/PhaseType.java
  src/main/java/cz/muni/csirt/kypo/events/trainings/CorrectPasskeySubmitted.java
  src/main/java/cz/muni/csirt/kypo/events/trainings/WrongPasskeySubmitted.java
  src/main/java/cz/muni/csirt/kypo/events/trainings/enums/LevelType.java
Due: build

Resolve "Change the type of attributes poolId and sandboxId to Long"
  VERSION.txt
  src/main/java/cz/muni/csirt/kypo/events/AbstractAuditPOJO.java
  src/main/java/cz/muni/csirt/kypo/events/adaptive/trainings/AbstractAuditAdaptivePOJO.java
Due: create_tag, deploy

Added missing Json types in abstract classes.
  src/main/java/cz/muni/csirt/kypo/events/AbstractAuditPOJO.java
  src/main/java/cz/muni/csirt/kypo/events/adaptive/trainings/AbstractAuditAdaptivePOJO.java
Due: none

New version of the library - 1.1.2
  VERSION.txt
Due: create_tag, deploy

Resolve "Migrate to new Java LTS version version (OpenJDK 17)"
  .gitlab-ci.yml
  pom.xml
Due: build

Resolve "Update project to use String UUID instead of numerical ID for sandboxes"
  VERSION.txt
  src/main/java/cz/muni/csirt/kypo/events/AbstractAuditPOJO.java
  src/main/java/cz/muni/csirt/kypo/events/adaptive/trainings/AbstractAuditAdaptivePOJO.java
Due: create_tag, deploy

add actions
  .github/workflows/github-actions.yml
Due: none

add actions
  pom.xml
Due: build

update pom
  .github/workflows/github-actions.yml
  pom.xml
Due: build

Path conditions:
  create_tag: any of: VERSION.txt
  build: any of: pom.xml
  deploy: any of: VERSION.txt
